.about {
  margin-bottom: 180px;
  &__inner {
    display: flex;
  }
  &__image{
    max-width: 350px;
    img{
      width: 100%;
    }
  }
}

.about__content {
  margin-left: 100px;
  &-text {
    font-size: 18px;
    line-height: 24px;
    color: $fs-gray;
  }
  &-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // padding: 15px;
    // border: 1px solid $fs-purple-light;
    gap: 10px;
  }
  &-item{
    color: $fs-white;
    span{
      color: $fs-purple-light;
    }
  }
}
