.header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 5;
  &__inner {
    background-color: $bg-purple;
    border-radius: 15px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
  &__logo {
    img {
      width: 40px;
      filter: invert(0.5);
      transition: all 0.4s;
      &:hover {
        filter: invert(1);
      }
    }
  }
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    &-item {
      letter-spacing: 0.2em;
      transition: all 0.6s;
      border-bottom: 1px solid transparent;
      color: $fs-gray;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color: $bg-gray;
        transition: width 0.5s;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        text-shadow: 0 0 5px $fs-gray, 0 0 25px $fs-gray, 0 0 50px $fs-gray,
          0 0 100px $fs-gray;
        color: $fs-white;
      }
    }
  }
}

//-------------------

.header__loader {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(#ee280e, #15a0f7, #6ed15a);
  animation: animate1 1.2s linear infinite;
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: transparent;
    border: solid $bg-black 10px;
    border-radius: 50%;
  }
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#ee280e, #15a0f7, #5ad15a);
    &:nth-child(1) {
      filter: blur(5px);
    }

    &:nth-child(2) {
      filter: blur(10px);
    }

    &:nth-child(3) {
      filter: blur(25px);
    }

    &:nth-child(4) {
      filter: blur(50px);
    }
  }
}

@keyframes animate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
