.skills--text{
  color: $fs-purple-light;
  margin-left: 10px;
}

.skills--img{
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  object-fit: contain;
}

.skills {
  // margin-bottom: 230px;
  padding: 230px 0 100px;
  &__inner {
    display: flex;
  }
}

.skills__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $bg-purple;
    border-radius: 15px;
    gap: 20px;
  }
  &-info {
    color: $fs-gray;
  }
  &-item {
    display: flex;
    align-items: center;
  }
}

.skills__technologies {
  margin-left: 10px;
  display: flex;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background-color: $bg-purple;
    border-radius: 15px;
    flex-direction: column;
    gap: 20px;
  }
  &-item {
    display: flex;
    align-items: center;
  }
}

.skills__box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 10px;
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    background-color: $bg-purple;
    border-radius: 15px;
    gap: 15px;
    height: 100%;
  }
  &-item {
    display: flex;
    align-items: center;
  }
}

.skills--mobile{
  display: none;
}