*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #343234 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $bg-black;
}

*::-webkit-scrollbar-thumb {
  background-color: #343234;
  border-radius: 10px;
  border: 3px solid $bg-black;
}

body {
  font-family: '', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  background-color: $bg-black;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
}

.title {
  display: inline-block;
  font-size: 30px;
  padding: 15px;
  line-height: 36px;
  color: $fs-purple-light;
  background-color: $bg-purple;
  border-radius: 15px;
  font-weight: 800;
  margin-bottom: 20px;
}

.back__top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: -50px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-purple-light;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s;

  &-active {
    transition: all .5s;
    bottom: 50px;
    &:hover {
      background-color: #ac8cef;
    }
  }
}
