@media (max-width: 1150px) {
  .skills--text {
    font-size: 16px;
  }
  .skills__content-info {
    font-size: 16px;
  }

  //---------------------Projects---------
  .projects__body-img {
    img {
      height: 160px;
    }
  }
}
@media (max-width: 1000px) {
  .skills__technologies {
    flex-direction: column;
  }
  .skills__box {
    margin: 10px 0 0;
    flex-direction: row;
    &-list {
      width: 100%;
    }
  }
  //---------------Projects------------------
  .projects__body-img {
    img {
      height: 130px;
    }
  }
}
@media (max-width: 800px) {
  .nav__list {
    gap: 15px;
  }

  //--------------SKILLS----------------
  .skills__technologies-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills__inner {
    flex-direction: column;
    gap: 15px;
  }

  .skills__content {
    flex-direction: row;
    gap: 15px;
  }

  .skills--main {
    display: none;
  }

  .skills--mobile {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .skills__technologies {
    margin: 0;
    max-width: 540px;
  }
  //----------------Projects------------

  .projects__body {
    &-title {
      font-size: 18px;
      line-height: 21px;
    }
    &-item {
      font-size: 14px;
      line-height: 17px;
    }
    &-img {
      img {
        height: 110px;
      }
    }
  }
}
@media (max-width: 700px) {
  .header__logo {
    order: 1;
  }
  .nav {
    order: 3;
  }
  .btn-background {
    order: 2;
  }
  .nav__list {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateY(-100%);
    transition: transform 0.4s;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);

    &--active {
      transform: translateX(0);
    }
  }
  .nav {
    &__burger {
      cursor: pointer;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 35px;
        height: 3px;
        background-color: $bg-gray;
        transition: transform 0.4s;
      }
    }

    &__burger.nav__burger--active {
      span {
        display: none;
      }
      &::after {
        content: '';
        transform: rotate(-45deg);
      }
      &::before {
        content: '';
        transform: translateY(3px) rotate(45deg);
      }
    }

    &__burger {
      &-line {
        display: block;
        width: 35px;
        height: 3px;
        background-color: $bg-gray;
        margin: 8px 0;
      }
    }
  }

  //---------------TOP-----------------
  .top__greeting-title {
    font-size: 44px;
    line-height: 52px;
  }

  //------------About-----------------

  .about {
    padding-top: 100px;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .about__content {
    margin-left: 0;
    &-text {
      font-size: 16px;
    }
  }
  //------------------Skills-----------

  .skills {
    padding-top: 100px;
  }

  //-------------------Projects----------
  .projects__body {
    grid-template-columns: repeat(2, 1fr);

    &-img {
      img {
        height: 140px;
      }
    }
  }
}
@media (max-width: 550px) {
  .title {
    font-size: 24px;
    line-height: 26px;
  }

  //-------------TOP--------------
  .top__greeting {
    &-title {
      font-size: 34px;
      line-height: 42px;
    }
    &-subtitle {
      font-size: 18px;
      line-height: 21px;
    }
  }
  //--------------------------------------------

  .about__content {
    &-text {
      font-size: 14px;
      line-height: 22px;
    }
    &-item {
      font-size: 16px;
    }
  }

  //--------------------Skills----------------

  .skills--text {
    font-size: 14px;
  }
  .skills__content-info {
    font-size: 14px;
  }

  .skills--img {
    max-width: 30px;
    max-height: 30px;
  }

  .skills__technologies-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__inner {
    flex-direction: column;
    gap: 10px;
  }

  .skills__content {
    flex-direction: column;
    gap: 0;
  }

  .skills--mobile {
    display: none;
  }

  .skills--main {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }

  .skills__box-list {
    height: auto;
    padding: 10px;
  }

  //---------------Projects------------
  .projects{
    padding: 0;
  }

  .projects__body {
    grid-template-columns: repeat(1, 1fr);
    &-link{
      max-width: 300px;
    }
    &-img {
      img {
        height: 140px;
      }
    }
  }

  //-----------------Contact------------
  .contact{
    padding: 100px 0 40px;
    &__inner{
      margin: 10px 0 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      font-size: 16px;
    }
    &__list{
      max-width: 155px;
    }
    &__info{
      margin: 0 0 20px;
    }
  }
}
