@media (max-width: 1250px) {
}
@media (max-width: 1000px) {
}
@media (max-width: 900px) {
  .nav__list {
    gap: 15px;
  //   &-item {
  //     font-size: 16px;
  //   }
  }
}
@media (max-width: 700px) {
  .header__logo{
    order: 1;
  }
  .nav{
    order: 3;
  }
  .btn-background{
    order: 2;
  }
  .nav__list {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transform: translateY(-100%);
    transition: transform 0.4s;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);

    &--active {
      transform: translateX(0);
    }
  }
  .nav {
    &__burger {
      cursor: pointer;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        background-color: $bg-gray;
        transition: transform 0.4s;
      }
    }

    &__burger.nav__burger--active {
      span {
        display: none;
      }
      &::after {
        content: '';
        transform: rotate(-45deg);
      }
      &::before {
        content: '';
        transform: translateY(3px) rotate(45deg);
      }
    }

    &__burger {
      &-line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: $bg-gray;
        margin: 8px 0;
      }
    }
  }
}
@media (max-width: 500px) {
}
