<!-- <div class="filter-btn">
  <button class="directions__filter-btn directions__filter-btn--active" type="button" data-filter="all"></button>
  <button class="directions__filter-btn" type="button" data-filter=".filter__list-item--name1"></button>
  <button class="directions__filter-btn" type="button" data-filter=".filter__list-item--name2"></button>
  <button class="directions__filter-btn" type="button" data-filter=".filter__list-item--name3"></button>
  <button class="directions__filter-btn" type="button" data-filter=".filter__list-item--name4"></button>
  <button class="directions__filter-btn" type="button" data-filter=".filter__list-item--name5"></button>
</div> -->

<div class="filter">
  <ul class="filter-btn-list">
    <li class="filter__btn-item filter__btn--active" data-filter="all">all</li>
    <li class="filter__btn-item" data-filter=".filter__list-item--name1">1</li>
    <li class="filter__btn-item" data-filter=".filter__list-item--name2">2</li>
    <li class="filter__btn-item" data-filter=".filter__list-item--name3">3</li>
    <li class="filter__btn-item" data-filter=".filter__list-item--name4">4</li>
    <li class="filter__btn-item" data-filter=".filter__list-item--name5">5</li>
  </ul>
  
  <ul class="filter__body-list">
    <li class="mix filter__list-item filter__list-item--name1" data-order="1">1</li>
    <li class="mix filter__list-item filter__list-item--name2" data-order="2">2</li>
    <li class="mix filter__list-item filter__list-item--name3" data-order="3">3</li>
    <li class="mix filter__list-item filter__list-item--name4" data-order="4">4</li>
    <li class="m filter__list-item filter__list-item--name5" data-order="5">5</li>
  </ul>
</div>