<ul class="accord__items">
  <li class="accord__item">
    <h4 class="accord__item-title">121</h4>
    <p class="accord__item-text"></p>
  </li>
  <div class="accord__item question__item--active">
    <h4 class="accord__item-title"></h4>
    <p class="accord__item-text"></p>
  </div>
  <li class="accord__item">
    <h4 class="accord__item-title"></h4>
    <p class="accord__item-text"></p>
  </li>
  <li class="accord__item">
    <h4 class="accord__item-title"></h4>
    <p class="accord__item-text"></p>
  </li>
</ul>